@import "media";

@mixin mobile-menu($color-background, $color-font, $color-border, $color-line) {
  $width-menu: 320px;
  $item-padding: 0.5em;
  $item-height: 2em;
  .mobile-menu {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 1000;
    top: 0;
    left: -($width-menu + 20px);
    height: 100%;
    width: 100%;
    max-width: $width-menu;
    background: $color-background;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-right: 2px solid $color-border;
    transition: 0.3s;

    &--open {
      @include media-768() {
        left: 0;
      }
    }

    &__wrapper-block {
      overflow-y: auto;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }

    &__block {
      box-sizing: border-box;
      min-width: 100%;

      ul {
        width: 100%;
        box-sizing: border-box;
      }

      li {
        box-sizing: border-box;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: wrap;
        width: 100%;
        position: relative;
        &.current {
          ul {
            display: block !important;
          }
        }
      }

      h3, a {
        font-size: 14px;
        line-height: $item-height;
        font-weight: normal;
        color: $color-font;
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: $item-padding 0;
      }

      h3 {
        + ul {
          display: none;

          ul {
            display: none;
          }
        }
      }

      span {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        height: 2 * $item-padding + $item-height;
        display: flex;
        align-items: center;
      }

      > ul {
        box-sizing: border-box;
        width: 100%;
        background: transparent;
        padding: 0 1em;

        > li {
          border-bottom: 1px solid $color-line;
        }
      }
    }

    .button-wrapper {
      display: none !important;
    }
  }
  .menu-item-has-children {
    > h3:after,
    > a:after {
      font-size: 1em;
      font-weight: 400;
      color: $color-line;
      padding-left: 4px;
      position: relative;
      top: 2px;
    }
  }
  .sub-menu {
    display: none;

    &--open {
      display: block !important;
    }
  }
}

@mixin responsive-button($color, $point: 768, $border: 2px, $shadow: true, $width: 50px, $horizontal-value: 10px, $vertical-value: 10px) {
  .responsive-button {
    cursor: pointer;
    display: none;
/*    position: fixed;
    right: $horizontal-value;
    top: $vertical-value;*/
    position: relative;
    z-index: 10000;
    box-sizing: border-box;
    width: $width;
    min-width: $width;
    height: $width;
    border-radius: 5px;
    padding: 4px;
    background: white;
    transition: 0.3s;

    @include media($point) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @if $border != 0 {
      border: $border solid $color;
    }
    @if $shadow == true {
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
    }

    &__lines {
      min-width: 100%;
      position: relative;
      z-index: 1;
    }

    &__line:not(:last-child) {
      margin-bottom: $border * 3;
    }

    &__line {
      width: 100%;
      @if $border != 0 {
        height: $border;
      }
      background: $color;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
    }

    &.open {
      .responsive-button__line {
        transition: 0.3s;
        top: 0;
        left: 0;

        &:first-child {
          transform: rotate(45deg);
          position: absolute;

          & + * {
            display: none;
          }
        }

        &:last-child {
          transform: rotate(-45deg);
          position: absolute;
        }
      }
    }
  }
}